{% extends 'base.html.twig' %}

{% block content %}
	<h1 class = 'pageTitle'>Content Block</h1>
	<h1>Welcome to Steven Prichard's Site</h1>
	<p>The purpose of this site is to show off what I have been working on this semester.
	While learning how to develop a web page.<br/></p>

	<h2>Here is what I have been working on in Advanced Web</h2>
	<ul>
	<li><a href="/pric3ste/CS3270">CS 3270</a></li>


	{#</ul>#}
{% endblock %}